.d-flex{
    display: flex;
    margin-bottom: 40px;
}
.skills-content{
    margin-top: 30px;
}
.front-rib{
    flex:0 0 130px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.front-rib span{
    padding: 20px;
    background-color: rgb(220 68 146);
    width: 120px;
}
.front-content{
    padding-left: 20px;  
}

h3{
    font-size: 1.8rem;
    color:rgb(44 188 233);
    margin:0 0 12px 0
}

.skills-content ul{
    position: relative;
    top:0;
    width:100%;
    padding:0
}
.skills-content ul li{
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}
.skills-content ul li::after{
    content:"•";
    font-size:19px;
    color:rgb(220 68 146);
    margin-left: 5px;
}
@media (max-width: 780px){
    .d-flex{
        flex-direction: column;
    }
    .front-rib{
        justify-content: flex-start;
        flex:0 0 10px
    }
    .front-content{
        padding-left: 2px;
    }
    .back .front-rib, .others .front-rib{
        margin-bottom: 20px;
    }
  }